.standart-page

	&__text
		font-size: em(14)
		line-height: 182%
		font-weight: 400

		> *
			width: 800px
			max-width: 100%

		img

			&:not(:first-child)
				margin-top: 40px

		h1
			font-size: em(36)
			font-weight: 300
			line-height: 130%
			letter-spacing: 0.02em