.main-screen

    &__content

        &-video
            position: absolute 0

            &:before
                content: ""
                position: absolute 0
                background: rgba(0,0,0, .6)

            video
                size: 100%
                object-fit: cover
                object-position: center
                display: block