.main-territory__map

    .line, .reg-fill, .reg-label,
    .reg-center, .reg-circle
        opacity: 0

    // .reg-center, .reg-circle
    //     transform: scale(0)

    .line, .reg-label,
    .reg-center, .reg-circle
        pointer-events: none