footer.footer
    .footer__wrap
        .footer__contacts
            .f-contacts
                address.f-contacts__phone
                    a(href="tel: +7 495 777 01 23 ") +7 495 777 01 23
                address.f-contacts__email
                    a(href="mailto: info@compositescluster.ru  ") info@compositescluster.ru
        .footer__address
            address.f-address
                p 109316, г. Москва, 
                    br
                    | Волгоградский просп., д. 42, корп. 13  
        .footer__links
            .f-links
                a.f-links__link.fancybox(href="#request") Оставить заявку
        .footer__soc
            include soc.pug
        .footer__copy
            .f-copy
                p &copy; АНО "СОПК "Композиты без границ"
        .footer__dev
            a.f-dev(href="#" target="blank")
                img(src="img/ico-dev.svg", alt="xpage")