.mr-side
    .mr-side__burger
        .burger
            span
            .burger__text Меню
    .mr-side__soc
        include soc.pug
    .mr-side__menu
        .mr-side__menu-title
        nav.mr-side__menu-list
        .mr-side__menu-link
            a.more-link.fancybox(href="#") Оставить заявку