<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		main#content
			
		include inc/scripts.pug
		script(src="js/main-page.ts")