<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include mixins/main-left.pug
		main#content
			section.main-screen.main-screen--blue-bg#main
				aside.main-screen__side.main-screen__side--left
					+mainLeft("big")
				.main-screen__content.main-screen__content--video
					.main-screen__content-video
						video(muted="" loop="" autoplay="" preload="meta" poster="img/photos/main-poster.jpg" src="files/files.mp4")
					.main-screen__content-content
						.wrapper
							.top-block
								nav.top-block__nav
									ul.main-menu
										each item in ["Продукция", "Промышленные предприятия", "Инфраструктура", "Услуги кластера", "Мероприятия", "Документы", "Новости", "Контакты", ]
											li
												a.main-menu__link(href="#")=item
								.top-block__text
									.top-block__text-title Межрегиональный промышленный кластер «Композиты без границ»
									.top-block__text-text
										p Площадка для эффективного взаимодействия и развития кооперации между производителями композитных материалов и изделий, крупными корпорациями, инфраструктурными площадками, образовательными и научными организациями, институтами развития и органами государственной власти
								.top-block__link
									a.play-link.fancybox(href="files/files.mp4") Посмотреть видео 
				aside.main-screen__side.main-screen__side--right
					include inc/main-right.pug
			section.main-screen.main-screen--white-bg#targets
				aside.main-screen__side.main-screen__side--left
					+mainLeft("color")
				.main-screen__content
					.main-screen__content-content
						.wrapper
							.main-targets
								.main-targets__title
									.main-title Цели создания
								.main-targets__subtitle Уникальная площадка для развития отрасли композитных материалов и изделий из них в России
								.main-targets__text
									p Межрегиональная кооперация направлена на формирование в России полной технологической цепочки производства композитных материалов, включая производство: углеродного волокна, стекловолокна, базальтового волокна, тканей и препрегов на основе этих волокон, а также готовых композитных изделий для конечных потребителей
								.main-targets__list
									ul.targets-list
										each target, i in ["Кратное масштабирование российского рынка композитных материалов", "Развитие профессиональных кадров", "Импортозамещение и развитие экспорта", "Привлечение частных инвестиций", ]
											li.targets-list__item
												figure.targets-list__item-img
													img(src="img/photos/target-icon-"+i+".svg")
												figcaption.targets-list__item-text=target
				aside.main-screen__side.main-screen__side--right
					include inc/main-right.pug
			section.main-screen.main-screen--blue-bg#territory
				aside.main-screen__side.main-screen__side--left
					+mainLeft("transparent")
				.main-screen__content
					.main-screen__content-content
						.wrapper
							.main-territory
								.main-territory__title 
									.main-title Территория функционирования кластера
								.main-territory__regions
									ul.ter-regions
										each region in ["Московская область", "Тульская область ", "Республика Татарстан", "Ульяновская область ", "Саратовская область ", ]
											li.ter-regions__item=region
								.main-territory__map
									include main-map/map.svg
								.main-territory__decor
									.main-territory__decor-top
									.main-territory__decor-bottom
				aside.main-screen__side.main-screen__side--right
					include inc/main-right.pug
			section.main-screen.main-screen--blue-bg#prod
				aside.main-screen__side.main-screen__side--left
					+mainLeft("transparent")
				.main-screen__content
					.main-screen__content-content
						.wrapper
							.main-prod
								.main-prod__title
									.main-title Продукция
								.main-prod__text
									p Межрегиональная технологическая цепочка производства композитных материалов включает этапы создания: углеродного волокна, стеклянного волокна, базальтового волокна, тканей и препрегов на основе этих волокон, а также готовых композитных изделий для конечных потребителей
								.main-prod__decor
								.main-prod__content
									.prod-list
										each prod, i in ["Углекомпозитные материалы и изделия", "Стеклокомпозитные материалы и изделия", "Базальтокомпозитные материалы и изделия", ]
											.prod-list__item
												a.prod-item(href="#")
													figure.prod-item__img
														img(src="img/photos/prod-img-"+i+".jpg")
													figcaption.prod-item__title=prod
													.prod-item__arrow
														span.arrow-btn
				aside.main-screen__side.main-screen__side--right
					include inc/main-right.pug
			section.main-screen.main-screen--white-bg#news
				aside.main-screen__side.main-screen__side--left
					+mainLeft("color")
				.main-screen__content
					.main-screen__content-content
						.wrapper
							.main-news
								.main-news__title
									.main-news__title-text
										.main-title Новости
									.main-news__link
										a.more-link(href="#") Смотреть все новости
								.main-news__list
									.main-news__list-item
										.m-news
											a.m-news__img(href="#")
												img(src="img/photos/mn-img-0.jpg")
											.m-news__date 17 .  10  .  2019
											.m-news__title 
												a(href="#") VII Форум «Композиты без границ» прошел в Москве 17 октября 2019 года
											.m-news__text 
												p 17 октября состоялся седьмой по счету ежегодный форум «Композиты без границ». Мероприятие стало рабочей площадкой для обсуждения глобальной технологической повестки в отрасли композитов. 
									.main-news__list-item
										.m-news
											a.m-news__img(href="#")
												img(src="img/photos/mn-img-1.jpg")
											.m-news__date 19 .  10  .  2019
											.m-news__title 
												a(href="#") В Туле обсудили развитие композитов, цифровой экономики и аддитивных технологий
											.m-news__text 
												p 19 июня генеральный директор Госкорпорации «Росатом» Алексей Лихачев в ходе визита в Тульскую область принял участие в рабочем совещании с представителями региональных предприятий ...
				aside.main-screen__side.main-screen__side--right
					include inc/main-right.pug
			section.main-screen.main-screen--blue-bg#contacts
				aside.main-screen__side.main-screen__side--left
					+mainLeft("transparent")
				.main-screen__content
					.main-screen__content-content
						.wrapper
							.main-contacts
								.main-contacts__text
									p Управляющая компания Кластера — Автономная некоммерческая организация «Специализированная организация промышленного кластера «Композиты без границ» (АНО «СОПК «Композиты без границ»)
								.main-contacts__contacts
									.m-contacts
										.m-contacts__contacts
											.f-contacts
												address.f-contacts__phone
													a(href="tel: +7 495 777 01 23 ") +7 495 777 01 23
												address.f-contacts__email
													a(href="mailto: info@compositescluster.ru  ") info@compositescluster.ru
										.m-contacts__address
											address.f-address
												p 109316, г. Москва, 
													br
													| Волгоградский просп., д. 42, корп. 13
										.m-contacts__links
											.f-links
												a.f-links__link.fancybox(href="#request") Оставить заявку
								.main-contacts__team
									.main-team
										.main-team__title
										.main-team__list
											.main-team__list-item
												.mt-person
													figure.mt-person__img
														img(src="img/photos/mp-img-0.jpg")
													.mt-person__name Лемешко Алексей Михайлович
													.mt-person__position директор
													.mt-person__phone 
														address.person-phone
															a(href="tel: +7 495 777 01 23") +7 495 777 01 23
														span добавочный 4123
													.mt-person__email
														address.person-email 
															a(href="mailto: a.lemeshko@umatex.com") a.lemeshko@umatex.com
											.main-team__list-item
												.mt-person
													figure.mt-person__img
														img(src="img/photos/mp-img-0.jpg")
													.mt-person__name Гасяк Андрей Владимирович
													.mt-person__position исполнительный директор
													.mt-person__phone 
														address.person-phone
															a(href="tel: +7 495 777 01 23") +7 495 777 01 23
														span добавочный 4064
													.mt-person__email
														address.person-email 
															a(href="mailto: a.gasyak@umatex.com") a.gasyak@umatex.com
											.main-team__list-item
												.mt-person
													figure.mt-person__img
														img(src="img/photos/mp-img-1.jpg")
													.mt-person__name Голубкин Игорь Валерьевич
													.mt-person__position руководитель направления взаимодействию с органами власти
													.mt-person__phone 
														address.person-phone
															a(href="tel: +7 495 777 01 23") +7 495 777 01 23
														span добавочный 4145
													.mt-person__email
														address.person-email 
															a(href="mailto: i.golubkin@umatex.com") i.golubkin@umatex.com
				aside.main-screen__side.main-screen__side--right
					include inc/main-right.pug
		include inc/scripts.pug
		script(src="js/main-page.js")